html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}

.w3-theme-l5 {color:#000 !important; background-color:#ebfef7 !important}
.w3-theme-l4 {color:#000 !important; background-color:#bdfde6 !important}
.w3-theme-l3 {color:#000 !important; background-color:#7cfccd !important}
.w3-theme-l2 {color:#000 !important; background-color:#3afab4 !important}
.w3-theme-l1 {color:#fff !important; background-color:#06eb97 !important}
.w3-theme-d1 {color:#fff !important; background-color:#049862 !important}
.w3-theme-d2 {color:#fff !important; background-color:#038757 !important}
.w3-theme-d3 {color:#fff !important; background-color:#03764c !important}
.w3-theme-d4 {color:#fff !important; background-color:#036541 !important}
.w3-theme-d5 {color:#fff !important; background-color:#025536 !important}

.w3-theme-light {color:#000 !important; background-color:#ebfef7 !important}
.w3-theme-dark {color:#fff !important; background-color:#025536 !important}
.w3-theme-action {color:#fff !important; background-color:#025536 !important}

.w3-theme {color:#fff !important; background-color:#04aa6d !important}
.w3-text-theme {color:#04aa6d !important}
.w3-border-theme {border-color:#04aa6d !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#04aa6d !important}
.w3-hover-text-theme:hover {color:#04aa6d !important}
.w3-hover-border-theme:hover {border-color:#04aa6d !important}
